<header>
    <h1 class="title"><%= title %></h1>
    <nav class="nav">
        <ul class="pages-list <%= activeClass %>-active">
            <li><a class="home-page-link" href="/">Home</a></li>
            <li><a class="video-player-page-link" href="/video">Video Player</a></li>
        </ul>
    </nav>
</header>
