<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head', {title: 'Nihongo'})%>
</head>
<body>
    <%- include ('partials/header', {title: 'Nihongo', activeClass: 'home'})%>
</body>
</html>
