<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head', {title: 'Nihongo Video Player'}) %>
  <link rel="stylesheet" href="/css/video-player.css">
</head>
<body>
  <%- include ('partials/header', {title: 'Video Player', activeClass : 'video-player' }) %>
  <main>
    <div class="video-player-container">
      <section class="player-section">
        <video id="video-player" class="video" controls>
          Your browser does not support the video tag
        </video>
      </section>
      <section class="subs-section">
        <div class="subs-controls">
          <i class="icon icon-upload active" id="uploads-btn"></i>
          <i class="icon icon-settings" id="settings-btn"></i>
          <i class="icon icon-layout" id="layout-btn"></i>
        </div>
        <div class="subs-menu" id="subs-menu">
          <div class="subs-menu-common">
            <span class="icon-box icon-hide-box">
              <i class="icon icon-hide" id="hide-subs-menu-btn"></i>
              <span class="icon-subtext">hide</span>
            </span>
          </div>
          <div class="subs-menu-tab-container">
            <!--upload-->
            <div class="subs-menu-tab subs-menu-upload-tab active" id="uploads-tab">
              <span class="file-input-wrapper">
                <input type="file" class="file-input" id="video-upload-input">
                <label for="video-upload-input">
                  <i class="icon icon-video-upload"></i>
                  video
                </label>
              </span>
              <span class="file-input-wrapper">
                <input type="file" class="file-input" id="subs-upload-input">
                <label for="subs-upload-input">
                  <i class="icon icon-subs-upload"></i>
                  subs
                </label>
              </span>
            </div>
            <!--settings-->
            <div class="subs-menu-tab subs-menu-settings-tab" id="settings-tab">
              <form id="subs-settings-form">
                <div class="form-area">
                  <label for="desync-input">
                    <i class="icon icon-desync"></i>
                    desync
                  </label>
                  <input type="text" id="desync-input" class="desync-input" placeholder="0">
                </div>
              </form>
            </div>
            <!--layout-->
            <div class="subs-menu-tab subs-menu-layout-tab" id="layout-tab">
              <p>soon...</p>
            </div>
          </div>
        </div>

        <div class="subs-content" id="subs-content">
          <li class="subs-group subs-group-template" style="display: none;">
            <p class="subs-group-time"></p>
            <p class="subs-group-text"></p>
          </li>
          <ul class="subs-list" id="subs-list"></ul>
        </div>
      </section>
    </div>
  </main>

  <script src="/js/video-player-menu.js"></script>
  <script src="/js/video-player-subs.js"></script>
  <script src="/js/video-player-video.js"></script>
  <script src="/js/video-player-controller.js"></script>
</body>
</html>
